@page "/"

@inject IConfiguration Configuration;

<PageTitle>Home</PageTitle>

<h1>@HelloMessage</h1>

Welcome to your new app.


@code {
  public string? HelloMessage = "";

  protected override void OnInitialized()
  {
    HelloMessage = Configuration["helloMessage"];
  }

}